.balance-info-card {
    width: 20rem;
    height: 10rem;
    border-radius: 3%;
    background: url('https://www.pngkit.com/png/full/386-3865554_blank-credit-card-pic-png-images-credit-card.png') center center no-repeat;
    display: flex;
    justify-content: center;
}

.balance-info-card__text {
    margin-top: 0.8rem;
    color: #ffff;
    font-weight: bold;
}

.balance {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}