<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="nav-item" style="color: white;">logo</div>
          <a class="navbar-brand" href="dashboard">Personal Finances</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="transactions">Transactions</a>
              </li>
            </ul>
          </div>
          <button class="btn btn-secondary" >Logout</button>
        </div>
      </nav>
    <div id="main-container" class="container">
        <h1>Dashboard</h1>
        <h3>Welcome, {{user.username}}!</h3>
        <div class="balance-info-card">
            <p>You current balance is: {{user.balance}}</p>
            <button type="button" class="btn btn-primary" (click)="onOpenModal()">
                Update balance
            </button>
        </div>
        <h2>Your recent transactions: </h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
                <th scope="col">Notes</th>
              </tr>
            </thead>
            <tbody *ngFor="let transaction of transactions">
              <tr>
                <th scope="row">{{transaction.id}}</th>
                <td>{{transaction.date | date: 'yyyy-MM-dd'}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.category}}</td>
                <td>{{transaction.notes}}</td>
              </tr>
            </tbody>
        </table>

          <!-- Update Balance Modal -->
        <div class="modal fade" id="updateBalanceModal" tabindex="-1" aria-labelledby="updateBalanceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateBalanceModalLabel">Update Balance</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <form #updateBalanceForm="ngForm" (ngSubmit)="onUpdateBalance(updateBalanceForm)">
                        <div class="form-group">
                            <label for="balance-field">New balance: </label>
                            <input type="number" class="form-control" id="balance-field" ngModel name="number">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
